.defaultHero,
.roomsHero {
  min-height: calc(100vh -66px);
  background: url('/images/629a7bb43be4dd3964c0ef39_Little-Palm-Island-Resort-copy.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomsHero {
  background-image: url("/images/629a7bb538fcda1438702a12_The-Garland-copy.png");
  min-height: 60vh;
}